{% extends "base.html.twig" %}

{% set CAKE_TYPE = constant('App\\Entity\\Cake::TYPE') %}
{% set VERRINE_TYPE = constant('App\\Entity\\Verrine::TYPE') %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="panier">
    <h2>Mon panier</h2>
    {% if panier[CAKE_TYPE] | length > 0 or panier[VERRINE_TYPE] | length > 0  %}
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in panier[CAKE_TYPE] %}
                <tr>
                    <td  class="info-product"><img src="{{ asset(imageFolder ~ item.product.image) }}" class="image-produit"><span>{{ item.product.title }}</span></td>
                    <td>{{ item.product.price }} €</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }} €</td>
                    <td>
                        <a href="{{ path("cart_delete", {"id": item.product.id, "type": CAKE_TYPE}) }}" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            {% for item in panier[VERRINE_TYPE] %}
                <tr>
                    <td class="info-product"><img src="{{ asset(imageFolder ~ item.product.image) }}" class="image-produit"><span>{{ item.product.title }}</span></td>
                    <td>{{ item.product.price }} €</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }} €</td>
                    <td>
                        <a href="{{ path("cart_delete", {"id": item.product.id, "type": VERRINE_TYPE}) }}" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr class="total">
                    <td colspan="3">Total :</td>
                    <td>{{ total }} €</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <button class="valider-panier">VALIDER !</button>
    {% else %}
        <p class="panier-vide">Votre panier est vide !</p>
    {% endif %}
    </div>

{% endblock %}