{% extends "base.html.twig" %}

{% block title %}Bienvenue !{% endblock %}


{% block body %}
    <p><a href="{{ path('app_home') }}">Home page</a></p>
<h1>{{ prenom }} {{ nom }}</h1>
    <hr>
    <hr>
    <hr>
    <div>
        <h2>Question 1</h2>
        <p>Description 1</p>
        <a href="{{ path('app_show_question', {question_name: 'question-1'}) }}">Cliquez ici pour la réponse</a>
    </div>
    <hr>
    <div>
        <h2>Question 2</h2>
        <p>Description 2</p>
        <a href="{{ path('app_show_question' , {question_name:'question-2'}) }}">Cliquez ici pour la réponse</a>
    </div>
    <hr>
    <div>
        <h2>Question 3</h2>
        <p>Description 3</p>
        <a href="{{ path('app_show_question' , {question_name:'question-3'}) }}">Cliquez ici pour la réponse</a>
    </div>
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}