{% extends "base.html.twig" %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <div class="product-meta">
        <div>
            <img src="{{ asset(imageFolder ~ product.image) }}">
        </div>
        <div>
            <p class="price">{{ product.price }} €</p>
            <button>Ajoutez au panier</button>
        </div>
    </div>
    <p class="description">{{ product.description }}</p>
{% endblock %}