{% extends "base.html.twig" %}

{% set CAKE_TYPE = constant('App\\Entity\\Cake::TYPE') %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <div class="product">
        <article>
            <img src="{{ asset(imageFolder ~ product.image) }}">
            <div id="product-info">
                <h1>{{ product.title }}</h1>
                <div id="description">{{ product.description }}</div>
                <p id="price">Prix : <span>{{ product.price }} €</span></p>
                <a href="{{ path("app_add_panier", {"id": product.id, "type": type}) }}"><button>Ajouter au panier</button></a>
                <div class="ratings">
                    {% for i in 1..5%}
                        <img
                                src="{{ asset(iconsFolder ~ "star-empty.svg") }}"
                                data-rating="{{ i }}"
                        />
                    {% endfor %}
                    <span>({{ numRatings }})</span>
                </div>
            </div>
        </article>
    </div>

    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script src="{{ asset('js/ratings.js') }}" type="application/javascript"></script>

        <script>
            const images = document.querySelectorAll('.ratings img');
            const emptyStar = "{{ asset(iconsFolder ~ "star-empty.svg") }}";
            const halfStar = "{{ asset(iconsFolder ~ "star-half.svg") }}";
            const fullStar = "{{ asset(iconsFolder ~ "star-full.svg") }}";
            let currentRating = {{ avgRatings }};

            addRatingsListenerToStars(
                "{{ product.id }}",
                "{{ type }}"
            );
            addHoverListenerToStars();

            renderRatings({{ avgRatings }});
        </script>

{% endblock %}