{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <header>
        <p>patisserie en ligne</p>
    </header>
    <main>
        <h1>{{ title }}</h1>
        <div class="product-meta">
            <div>
                <img src="{{ asset(imagePath) }}">
            </div>
            <div>
                <p class="price">{{ price }} €</p>
                <button>Ajoutez au panier</button>
            </div>
        </div>
        <p class="description">{{ description }}</p>
    </main>
    <footer>
        <p>contactez nous</p>
    </footer>
{% endblock %}