<header>
    <a href="{{ path('accueil') }}"><h1>Mina Hooma</h1></a>
    <h2>patisserie</h2>
    <ul class="main-menu">
        <li><a href="{{ path('showCakeList') }}">Gateaux</a></li>
        <li><a href="{{ path('showVerrineList') }}">Verrines</a></li>
        <li><a href="#">A propos</a></li>

        {% if not app.user or not ('ROLE_ADMIN' in app.user.getRoles()) %}
            <li><a href="{{ path('app_panier') }}"><i class="fas fa-shopping-cart"></i></a></li>
        {% endif %}

        {% if app.user and 'ROLE_ADMIN' in app.user.getRoles() %}
            <li><a href="{{ path('admin') }}">Espace admin</a></li>
        {% endif %}

        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Deconnection</a></li>
        {% else %}
            <li><a href="{{ path('app_signin') }}">Connexion <i class="fas fa-user"></i></a></li>
        {% endif %}
    </ul>
</header>
