{% extends "base.html.twig" %}
{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div id="admin">
        <section>
            <h2>Panel d'administration</h2>
            <div id="lien-ajout">
                <a href="/produits/gateaux/ajouter"><button> <i class="fas fa-plus"></i> Ajouter Gateau</button></a>
                <a href="/produits/verrines/ajouter"><button>  <i class="fas fa-plus"></i> Ajouter Verrine</button></a>
            </div>
        </section>

        <h3>Liste des Verrines</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom du produit</th>
                <th>Image</th>
                <th>Gérer</th>
            </tr>

            {% for verrine in verrineList %}
            <tr>
                <td>{{ verrine.id }}</td>
                <td>{{ verrine.title }}</td>
                <td><img src="{{ asset(imageFolder ~ verrine.getImage()) }}" class="image-produit"></td>
                <td><a href="/produits/verrines/{{ verrine.id }}/modifier"><i class="fas fa-edit"></i></a>
                    <a
                            href="#"
                            class="delete-button"
                            data-product-id="{{ verrine.id }}"
                            data-product-type="{{ verrineType }}"
                    ><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </table>
        <h3>Liste des Gateaux</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom du produit</th>
                <th>Image</th>
                <th>Gérer</th>
                <th></th>
            </tr>

            {% for cake in gateauList %}
                <tr>
                    <td>{{ cake.id }}</td>
                    <td>{{ cake.title }}</td>
                    <td><img src="{{ asset(imageFolder ~ cake.getImage()) }}" class="image-produit"></td>
                    <td><a href="/produits/gateaux/{{ cake.id }}/modifier"><i class="fas fa-edit"></i></a>
                        <a
                                href="#"
                                class="delete-button"
                                data-product-id="{{ cake.id }}"
                                data-product-type="{{ cakeType }}"
                        ><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor%}
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="{{ asset('js/delete.js') }}" type="application/javascript"></script>

    <script>
      function buildDeleteUrl(productId, productType) {
        let url = "/produits";
        if (productType == "{{ cakeType }}") {
          url = url + "/gateaux";
        } else if (productType == "{{ verrineType }}") {
          url = url + "/verrines";
        }
        return url + "/" + productId;
      }

      const deleteButtons = document.querySelectorAll('table .delete-button');
      addListenerToDeleteButton(deleteButtons);
    </script>

{% endblock %}
