{% extends "base.html.twig" %}
{% block title %}Admin Dashboard{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/product-list.css') }}" />
{% endblock %}

{% block body %}
    <h1>Panel d'administration</h1>
    <a href="/produits/gateaux/ajouter">Ajouter Gateau</a>
    <a href="/produits/verrines/ajouter">Ajouter Vrrine</a>


    <h2>1. Verrines</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom du produit</th>
            <th>Image</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>

        {% for verrine in verrineList %}
        <tr>
            <td>{{ verrine.id }}</td>
            <td>{{ verrine.title }}</td>
            <td><img src="{{ asset(imageFolder ~ verrine.getImage()) }}"></td>
            <td><a href="/produits/verrines/{{ verrine.id }}/modifier">modifier</a></td>
            <td><a
                        href="#"
                        class="delete-button"
                        data-product-id="{{ verrine.id }}"
                        data-product-type="{{ verrineType }}"
                >supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>2. Gateaux</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom du produit</th>
            <th>Image</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>

        {% for cake in gateauList %}
            <tr>
                <td>{{ cake.id }}</td>
                <td>{{ cake.title }}</td>
                <td><img src="{{ asset(imageFolder ~ cake.getImage()) }}"></td>
                <td><a href="/produits/gateaux/{{ cake.id }}/modifier">modifier</a></td>
                <td>
                    <a
                        href="#"
                        class="delete-button"
                        data-product-id="{{ cake.id }}"
                        data-product-type="{{ cakeType }}"
                    >supprimer</a>
                </td>
            </tr>
        {% endfor%}
    </table>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="{{ asset('js/delete.js') }}" type="application/javascript"></script>

    <script>
      function buildDeleteUrl(productId, productType) {
        let url = "/produits";
        if (productType == "{{ cakeType }}") {
          url = url + "/gateaux";
        } else if (productType == "{{ verrineType }}") {
          url = url + "/verrines";
        }
        return url + "/" + productId;
      }

      const deleteButtons = document.querySelectorAll('table .delete-button');
      addListenerToDeleteButton(deleteButtons);
    </script>

{% endblock %}
